<!-- Just an image -->
<nav class="navbar navbar-light" style="background-color: aliceblue;">
  <a class="navbar-brand" href="C:\angulartp\task\src\app\product\add\add.component.html">
   <!--<img src="https://www.google.com/search?q=angular+logo&sxsrf=AOaemvLuTTNT
    z4kMhmtU3GihYBWkZzIPWw:1630148862516&tbm=isch&source=iu&ictx=1&fir=K8jNsJr52ZK
    kEM%252Cc3SpJA10mM1O6M%252C_&vet=1&usg=AI4_-kTE-HUW_AiIxtefWXFQK3rLu36H9Q&sa=X&ved=2ahU
    KEwjw5IXfydPyAhWCj-YKHSiiA1MQ9QF6BAgNEAE#imgrc=K8jNsJr52ZKkEM" width="30" height="30" alt="">-->
  </a>
</nav>

<router-outlet></router-outlet>